.container a {
    text-decoration: none;
}

h2 {
    width: 780px;
    height: 65px;
    font-size: 45px;
    line-height: 30px;
    color: #7b77c9;
    font-weight: 700;
    margin: 55px auto;
    margin-bottom: 0;
}
.card_body {
    margin: 25px;
    text-align: center;
}

.card_body p {
    font-size: 21px;
    color: #54ab73;
    margin-top: 10px;
    margin-bottom: 0;
}

.card_body small {
    font-size: 14px;
    color: #818baa;
    margin: 0;
}

.card_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
    .row {
        margin: 0 18%;
    }
}

@media only screen and (max-width: 1000px) {
    .row {
        margin: 0 5%;
    }
    .card_img{
        width: 350px;
        height: 350px;
    }
}

.btn-back-home {
    margin: 60px;
}

.btn-back-home a {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #7b77c9;
    color: white;
}

/*
#modal_img{
    width: 65vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img{
    transform: scale(1);
}

.modal{

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close{
    color:#fff;
    background-color: #000;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border:solid 1px #fff;
    transition: all ease-out .4s;
    cursor: pointer;
}

#bt_close:hover{
    background-color: #f00;
}

.modal_active{
    visibility: visible;
    opacity: 1;

}*/