.container a {
    text-decoration: none;
}

h2 {
    font-size: 45px;
    line-height: 30px;
    color: var(--violet);
    font-weight: 700;
    margin: 55px auto;
    margin-bottom: 40px;
}
.card_body {
    margin: 25px;
    text-align: center;
}

.card_body p {
    font-size: 21px;
    color: var(--green);
    margin-top: 10px;
    margin-bottom: 0;
}

.card_body small {
    font-size: 14px;
    color: var(--grey);
    margin: 0;
}

.card_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
    .row {
        margin: 0 18%;
    }
}

@media only screen and (max-width: 1000px) {
    .row {
        margin: 0 5%;
    }
    .card_img{
        width: 350px;
        height: 350px;
    }
}

.btn-back-home {
    margin: 60px;
}

.btn-back-home a {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: var(--violet);
    color: var(--white);
}
